PORT=3000
HOST=localhost

DB_URL=./database.sqlite
REDIS_URL=redis://localhost:6379

FRONTEND_URL=http://localhost:5173

SMTP_PASSWORD=
SMTP_HOST=localhost
SMTP_USER=
SMTP_PORT=1025

SMTP_ENABLE=false

GOOGLE_ID=
GOOGLE_SECRET=

PASSWORD_RESET_HASH_KEY=hive-local-dev-password-reset-key
